<div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="userInfoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userInfoLabel">Información del Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <mat-tab-group (selectedTabChange)="tabSelected($event)">
                    <mat-tab label="Perfil">
                        <div class="container d-flex justify-content-center" *ngIf="_wa.loadingInfo || _wa.loadingUI">
                            <mat-progress-bar mode="buffer"></mat-progress-bar>
                        </div>
                        <div class="container" *ngIf="!_wa.loadingInfo && !_wa.loadingUI && _wa.userInfo['user_fields']">
                            <div class="text-center p-2 pt-4">
                                <mat-form-field class="formInfo">
                                    <input matInput [(ngModel)]="_wa.userInfo['name']" placeholder="Nombre" #name>
                                </mat-form-field>
                                <ng-container *ngIf="loading['name']">
                                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                                </ng-container>
                                <ng-container *ngIf="!loading['name']">
                                    <button mat-icon-button color="accent" (click)="_wa.userInfo['name'] = _wa.originalUserInfo['name']" *ngIf="_wa.originalUserInfo['name'] != _wa.userInfo['name']">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="_wa.saveUserInfo('name')" *ngIf="_wa.originalUserInfo['name'] != _wa.userInfo['name']">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                </ng-container>
                                <br>
                                <mat-form-field class="formInfo">
                                    <input matInput [(ngModel)]="_wa.userInfo['email']" placeholder="Correo" #email>
                                </mat-form-field>
                                <ng-container *ngIf="loading['email']">
                                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                                </ng-container>
                                <ng-container *ngIf="!loading['email']">
                                    <button mat-icon-button color="accent" (click)="_wa.userInfo['email'] = _wa.originalUserInfo['email']" *ngIf="_wa.originalUserInfo['email'] != _wa.userInfo['email']">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="_wa.saveUserInfo('email')" *ngIf="_wa.originalUserInfo['email'] != _wa.userInfo['email']">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                </ng-container>
                                <br>
                                <mat-form-field class="formInfo">
                                    <mat-label>Idioma Usuario</mat-label>
                                    <mat-select (selectionChange)="selectedLang($event)" [value]="_wa.userInfo['user_fields']['idioma_cliente']">
                                        <ng-container *ngFor="let lang of idiomas">
                                            <mat-option [value]="lang['lang']">
                                                {{ lang['idioma'] }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                <ng-container *ngIf="loading['phone_number']">
                                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                                </ng-container>
                                <ng-container *ngIf="!loading['lang']">
                                    <button mat-icon-button color="accent" (click)="_wa.userInfo['user_fields']['idioma_cliente'] = _wa.originalUserInfo['user_fields']['idioma_cliente']" *ngIf="_wa.originalUserInfo['user_fields']['idioma_cliente'] != _wa.userInfo['user_fields']['idioma_cliente']">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="_wa.saveUserInfo('user_fields')" *ngIf="_wa.originalUserInfo['user_fields']['idioma_cliente'] != _wa.userInfo['user_fields']['idioma_cliente']">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                </ng-container>
                                <br>
                                <mat-form-field class="formInfo">
                                    <input matInput [(ngModel)]="_wa.userInfo['phone']" placeholder="Teléfono" #phone>
                                </mat-form-field>
                                <ng-container *ngIf="loading['phone_number']">
                                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                                </ng-container>
                                <ng-container *ngIf="!loading['phone_number']">
                                    <button mat-icon-button color="accent" (click)="_wa.userInfo['phone'] = _wa.originalUserInfo['phone']" *ngIf="_wa.originalUserInfo['phone'] != _wa.userInfo['phone']">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="_wa.saveUserInfo('phone_number')" *ngIf="_wa.originalUserInfo['phone'] != _wa.userInfo['phone']">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                </ng-container>
                                <br>
                                <mat-form-field class="formInfo">
                                    <input matInput [(ngModel)]="_wa.userInfo['user_fields']['whatsapp']" placeholder="Whatsapp" #whatsapp>
                                </mat-form-field>
                                <ng-container *ngIf="loading['whatsapp']">
                                    <mat-progress-bar mode="buffer"></mat-progress-bar>
                                </ng-container>
                                <ng-container *ngIf="!loading['whatsapp']">
                                    <button mat-icon-button color="accent" (click)="_wa.userInfo['user_fields']['whatsapp'] = _wa.originalUserInfo['user_fields']['whatsapp']" *ngIf="_wa.originalUserInfo['user_fields']['whatsapp'] != _wa.userInfo['user_fields']['whatsapp']">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="_wa.saveUserInfo('user_fields')" *ngIf="_wa.originalUserInfo['user_fields']['whatsapp'] != _wa.userInfo['user_fields']['whatsapp']">
                                        <mat-icon>save</mat-icon>
                                    </button>
                                </ng-container>

                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span [matBadge]="_wa.rsvHistory.length" matBadgeOverlap="false">Reservas</span>
                        </ng-template>
                        <div class="container d-flex justify-content-center" *ngIf="_wa.loadingInfo">
                            <mat-progress-bar mode="buffer"></mat-progress-bar>
                        </div>
                        <div class="container p-2" style="max-height: 465px; overflow: auto;" *ngIf="!_wa.loadingInfo">
                            <div class="alert alert-primary" role="alert" *ngIf="_wa.rsvHistory.length == 0">
                                Este cliente no cuenta con reservas en CyC
                            </div>
                            <ul class="p-0" *ngIf="_wa.rsvHistory.length > 0">
                                <li class="d-flex justify-content-lg-between m-1" *ngFor="let r of _wa.rsvHistory">
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip>{{ r.ml }}
                                        </mat-chip>
                                        <mat-chip style='width:120px; font-size: xx-small;' [color]="r.st == 'R' ? 'success' : r.st == 'Q' ? 'alert' : r.st == 'Exp' ? 'warn' : 'danger'" selected>{{ r.services }}</mat-chip>
                                        <mat-chip [color]="'primary'" selected><a style="color: white" href="https://cyc-oasishoteles.com/#/rsv2/{{r.ml}}" target="_blank">Ver Rsva</a></mat-chip>
                                    </mat-chip-list>

                                </li>
                            </ul>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>
</div>